<form class="login-form">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" name="username" [(ngModel)]="username" class="form-control" id="username">
    </div>
    
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" [(ngModel)]="password" class="form-control" id="password">
    </div>
    
    <button (click)="login()" class="btn btn-primary">Login</button>
  </form>
  
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>
  
  
  